<% layout('layouts/boilerplate')%>


<div class="row">
    <h1 class="text-center">Edit Items Here</h1>
  <div class="col-6 offset-3">
    <form action="/favorites/<%=favorite._id%>?_method=PUT" method="POST">
      <div class="mb-3">
        <label class="form-label" for="name">Name: </label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="faorite[name]"
          value="<%=favorite.name%>"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="rating">Rating: </label>
        <input
        class="form-control"
          type="text"
          id="rating"
          name="favorite[rating]"
          value="<%=favorite.rating%>"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image: </label>
        <input
        class="form-control"
          type="text"
          id="image"
          name="favorite[image]"
          value="<%=favorite.image%>"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Price: </label>
        <div class="input-group">
            <span class="input-group-text" id="price-label">$</span>
            <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                aria-describedby="price-label" name="favorite[price]" value="<%=favorite.price %>">
        </div>
    </div>
      <div class="mb-3">
        <labe class="form-label" for="description">Description: </label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="favorite[description]"
          value="<%=favorite.description%>"
        ></textarea>
      </div>
      <button class="btn btn-success mb-1">Update Item</button>
    </form>

    <form action="/favorites/<%=favorite._id%>">
    <button class="btn btn-primary">Back to Last Item</button>
    </form>
  </div>
</div>
