<% layout('layouts/boilerplate') %>

<h1 class="text-center">My Favorites Here</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <a class="btn btn-info btn-md mb-1" href="/favorites/new"
        >Add a New Favorite</a
      >
    </div>
  </div>
</div>

<!-- LARGER LIST DISPLAY - W/ IMG -->

<% for (let favorite of favorites) {%>

<!-- <div class="card" mb-3>
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" alt="" src="<%=favorite.image%>" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= favorite.name %></h5>
        <p class="card-text"><%= favorite.description %></p>
        <p class="card-text">
          <small class="text-muted">Rating: <%= favorite.rating%></small>
        </p>
        <a class="btn btn-primary" href="/favorites/<%=favorite._id%>"
          ><%=favorite.name%></a
        >
      </div>
    </div>
  </div>
</div> -->

<!-- SMALLER LIST DISPLAY - NO IMG -->

<% } %> <% for (let favorite of favorites) {%>

<div class="list-group">
  <a
    href="/favorites/<%=favorite._id%>"
    class="list-group-item list-group-item-action"
    aria-current="true"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= favorite.name %></h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1"><%= favorite.description %></p>
    <small>Rating: <%= favorite.rating%></small>
  </a>
</div>

<% } %>
