<% layout('layouts/boilerplate')%>

<div class="row">
  <div class="col-6 offset-3">
      <div class="card mb-3">
          <img src="<%= favorite.image%>" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title"><%= favorite.name%></h5>
              <p class="card-text"><%= favorite.description%></p>
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted">Rating: <%= favorite.rating%></li>
              <li class="list-group-item">$<%= favorite.price%>/lb</li>
          </ul>
          <div class="card-body">
              <a class="card-link btn btn-info" href="/favorites/<%=favorite._id%>/edit">Edit</a>
              <form class="d-inline" action="/favorites/<%=favorite._id%>?_method=DELETE" method="POST">
                  <button class="btn btn-danger">Delete</button>
              </form>
          </div>
          <div class="card-footer text-muted">
              2 days ago
          </div>
      </div>
  </div>
</div>
