<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show</title>
</head>
<body>
  <h1><%= favorite.name %></h1>
  <h3>Rating(1-5): <%= favorite.rating %> / Price: <%= favorite.price %></h3>
  <h2><%= favorite.description %></h2>
  <p>
    <form action="/favorites/<%= favorite._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
    </form>
    <form action="/favorites/<%= favorite._id%>/edit">
    <button>Edit Item</button>
    </form>
  </p>
  <a href="/favorites">Back to All Favorites</a>
</body>
</html>